:root {
  /* Colors */
  /* Primary */
  --Twitter: #1ca0f2;
  --YouTube: #c4032a;
  --Facebook: #198ff5;
  --Lime-Green: #1db489;
  --Bright-Red: #dc414c;
  --Instagram: linear gradient #fdc468 to #df4996;
  /* Dark Theme */
  --Toggle: linear gradient #378fe6 to #3eda82;
  /* Light Theme */
  --Toggle: #aeb3cb;
  /* Dark Theme */
  --White-Text: #ffffff;
  --Very-Dark-Blue-bg: #1e202a;
  --Desaturated-Blue-Text: #8b97c6;
  --Very-Dark-Blue-bg-Pattern: #1f212e;
  --Dark-Desaturated-Blue-Card-bg: #252a41;
  /* Light Theme */
  --White-bg: #ffffff;
  --Very-Dark-Blue-Text: #1e202a;
  --Very-Pale-Blue-Top-bg: #f5f7ff;
  --Dark-Grayish-Blue-Text: #63687e;
  --Light-Grayish-Blue-Card-bg: #f0f2fa;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 80%;
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
}

header div:nth-child(2) {
  display: flex;
  align-items: center;
}

/* Toogle */

.toggle-container {
  width: 50px;
  height: 30px;
  margin-left: 15px;
  position: relative;
  pointer-events: none;
  display: inline-block;
}

.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  pointer-events: none;
  background-color: #808080;
}

.slider::before {
  left: 5px;
  content: "";
  width: 20px;
  height: 20px;
  transition: 0.2s;
  position: absolute;
  pointer-events: none;
  background-color: #fff;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Main  */

main {
  width: 80%;
}

/* Section Cards Totals  */

.cards-total-fans {
  display: grid;
  column-gap: 2rem;
  margin-bottom: 5rem;
  grid-template-columns: repeat(4, 1fr);
}