:root {
  /* Colors */
  /* Primary */
  --Twitter: #1ca0f2;
  --YouTube: #c4032a;
  --Facebook: #198ff5;
  --Lime-Green: #1db489;
  --Bright-Red: #dc414c;
  /* Dark Theme */
  --Toggle: linear gradient #378fe6 to #3eda82;
  /* Light Theme */
  --Toggle: #aeb3cb;
  /* Dark Theme */
  --White-Text: #ffffff;
  --Very-Dark-Blue-bg: #1e202a;
  --Desaturated-Blue-Text: #8b97c6;
  --Very-Dark-Blue-bg-Pattern: #1f212e;
  --Dark-Desaturated-Blue-Card-bg: #252a41;
  /* Light Theme */
  --White-bg: #ffffff;
  --Very-Dark-Blue-Text: #1e202a;
  --Very-Pale-Blue-Top-bg: #f5f7ff;
  --Dark-Grayish-Blue-Text: #63687e;
  --Light-Grayish-Blue-Card-bg: #f0f2fa;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  background: var(--Very-Pale-Blue-Top-bg);
}

.header div:nth-child(2) {
  display: flex;
  align-items: center;
}

.header-container {
  width: 80%;
  height: 35px;
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
}

/* Toogle */

.toggle-container {
  width: 50px;
  height: 30px;
  margin-left: 15px;
  position: relative;
  pointer-events: none;
  display: inline-block;
}

.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  pointer-events: none;
  background-color: var(--Toggle);
}

.slider::before {
  left: 5px;
  content: "";
  width: 20px;
  height: 20px;
  transition: 0.2s;
  position: absolute;
  pointer-events: none;
  background-color: #fff;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Main  */

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 80%;
  top: -120px;
  position: relative;
}

/* Section Cards Totals  */

.cards-total-fans {
  /* width: 80% */
  display: grid;
  column-gap: 2rem;
  margin-bottom: 3.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.card-total-fans {
  width: 100%;
  display: flex;
  height: 15rem;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  background: var(--Light-Grayish-Blue-Card-bg);
}

.card-total-fans span:nth-child(1) {
  height: 5px;
  width: 100%;
  margin-bottom: 30px;
}

.card-total-fans:nth-child(1) span:nth-child(1) {
  background: var(--Facebook);
}

.card-total-fans:nth-child(2) span:nth-child(1) {
  background: var(--Twitter);
}

.card-total-fans:nth-child(3) span:nth-child(1) {
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.card-total-fans:nth-child(4) span:nth-child(1) {
  background: var(--YouTube);
}

.card-total-fans div:nth-child(2) {
  display: flex;
  margin-bottom: 30px;
}

.card-total-fans div:nth-child(2) span {
  margin-left: 10px;
  font-weight: bold;
  color: var(--Dark-Grayish-Blue-Text);
}

.card-total-fans div:nth-child(3) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-total-fans div:nth-child(3) h1 {
  font-size: 3.5rem;
  margin-bottom: 0.3rem;
  color: var(--Very-Dark-Blue-Text);
}

.card-total-fans div:nth-child(3) span {
  font-size: 0.8rem;
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--Dark-Grayish-Blue-Text);
}

.Low {
  font-weight: bold;
  color: var(--Bright-Red);
}

.High {
  font-weight: bold;
  color: var(--Lime-Green);
}

/* Section Overview */

.overview {
  /* width: 80%; */
}

.overview h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--Dark-Grayish-Blue-Text);
}

.cards-container {
  gap: 2rem;
  display: grid;
  margin-bottom: 5rem;
  grid-template-rows: repeat(2, 6.5rem);
  grid-template-columns: repeat(4, 1fr);
}

.card {
  border: 1px solid red;
}