:root {
  /* Colors */
  /* Primary */
  --Twitter: #1ca0f2;
  --YouTube: #c4032a;
  --Facebook: #198ff5;
  --Lime-Green: #1db489;
  --Bright-Red: #dc414c;
  --Instagram: linear gradient #fdc468 to #df4996;
  /* Dark Theme */
  --Toggle: linear gradient #378fe6 to #3eda82;
  /* Light Theme */
  --Toggle: #aeb3cb;
  /* Dark Theme */
  --White-Text: #ffffff;
  --Very-Dark-Blue-bg: #1e202a;
  --Desaturated-Blue-Text: #8b97c6;
  --Very-Dark-Blue-bg-Pattern: #1f212e;
  --Dark-Desaturated-Blue-Card-bg: #252a41;
  /* Light Theme */
  --White-bg: #ffffff;
  --Very-Dark-Blue-Text: #1e202a;
  --Very-Pale-Blue-Top-bg: #f5f7ff;
  --Dark-Grayish-Blue-Text: #63687e;
  --Light-Grayish-Blue-Card-bg: #f0f2fa;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
}

/* Toogle */

.toggle-container {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  pointer-events: none;
}

.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #808080;
  transition: 0.4s;
  pointer-events: none;
}

.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 8px;
  bottom: 8px;
  background-color: #fff;
  transition: 0.2s;
  pointer-events: none;
}

.slider::after {
  position: absolute;
  content: "off";
  height: 24px;
  width: 24px;
  right: 10px;
  bottom: 6px;
  transition: 0.2s;
  pointer-events: none;
  color: #fff;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:checked+.slider:before {
  transform: translateX(40px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}