@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-grey: hsl(0, 0%, 59%);
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
input,
button {
  font-family: "Kumbh Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--dark-cyan);
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.top-circle {
  top: -575px;
  z-index: -1;
  left: -324px;
  position: fixed;
}

.bottom-circle {
  z-index: -1;
  right: -260px;
  bottom: -680px;
  position: fixed;
}

.card {
  width: 400px;
  height: 420px;
  overflow: hidden;
  font-size: 0.8rem;
  border-radius: 25px;
}

.profileCover {
  height: 150px;
}

.profileCover img {
  width: 100%;
}

.body {
  display: flex;
  height: 160px;
  background: white;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.body img {
  top: -55px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid white;
}

.username {
  width: 190px;
  display: flex;
  margin-top: 40px;
  align-items: baseline;
  justify-content: space-between;
}

.subtitle {
  margin-top: 10px;
  font-weight: 400;
  color: var(--dark-grey);
}

.footer {
  display: flex;
  height: 110px;
  background: white;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid var(--dark-grey);
}

.stats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 800px) {
  .card {
    width: 325px;
    height: 420px;
    overflow: hidden;
    font-size: 0.8rem;
    border-radius: 25px;
  }

  .profileCover img {
    width: 100%;
    height: 100%;
  }

  .top-circle {
    top: -490px;
    z-index: -1;
    left: -740px;
    position: fixed;
  }

  .bottom-circle {
    z-index: -1;
    right: -740px;
    bottom: -450px;
    position: fixed;
  }
}
