/* Reset */

:root {
  /* Primary */
  --Strong-Cyan: #26baa4;
  --Light-Blue: #6173ff;
  /* Neutral */
  --Dark-Grayish-Blue: #4c545d;
  --Grayish-Blue: #9fabb2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  Font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
}

html, body {
  height: 100%;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-thumb {
  background: #9fabb2;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px transparent solid;
}

/* Header */

header {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-header {
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
}

/* Section Download */

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -3rem;
  position: relative;
}

.download h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--Dark-Grayish-Blue);
}

.download p {
  width: 613px;
  text-align: center;
  line-height: 1.6rem;
  color: var(--Grayish-Blue);
  margin-bottom: 2rem;
}

.buttons {
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  outline: none;
  margin: 0 5px;
  border-radius: 2rem;
  margin-bottom: 4rem;
}

.buttons.mac:hover, .buttons.ios:hover {
  cursor: pointer;
  filter: brightness(1.25);
}

.buttons.mac {
  background: var(--Light-Blue);
  border: var(--Light-Blue);
}

.buttons.ios {
  background: var(--Strong-Cyan);
  border: var(--Light-Blue);
}

/* Section Snippets */

.snippets {
  display: flex;
  line-height: 1.6rem;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.snippets h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--Dark-Grayish-Blue);
}

.snippets p {
  width: 700px;
  text-align: center;
  color: var(--Grayish-Blue);
  margin-bottom: 4rem;
}

.sides {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
}

.left-side {
  width: 100%;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topics {
  padding: 0 5rem;
}

.topics h3 {
  margin-bottom: 0.5rem;
  color: var(--Dark-Grayish-Blue);
}

.topics p {
  width: 21rem;
  text-align: start;
  margin-bottom: 2rem;
}

/* Section Clipboard */

.clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.clipboard h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--Dark-Grayish-Blue);
}

.clipboard p {
  width: 613px;
  text-align: center;
  line-height: 1.6rem;
  color: var(--Grayish-Blue);
  margin-bottom: 5rem;
}

/* Section Workflow */

.workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.workflow h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--Dark-Grayish-Blue);
}

.workflow p {
  width: 613px;
  text-align: center;
  line-height: 1.6rem;
  color: var(--Grayish-Blue);
  margin-bottom: 5rem;
}

.tools-container {
  width: 90%;
  display: flex;
  margin-bottom: 7rem;
}

.tool {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool img {
  margin-bottom: 2rem;
}

.tool h3 {
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 1rem;
}

.tool p {
  width: 90%;
  margin-bottom: 0;
}

.brands-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
  align-items: center;
}

/* Footer */

footer {
  display: grid;
  height: 150px;
  align-items: center;
  background: rgba(159, 171, 178, 0.2);
  grid-template-columns: 25% 50% 25%;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 60px;
}

.options {
  align-items: center;
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: repeat(3, 33%);
}

.options a {
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
}

.options a:hover {
  color: var(--Strong-Cyan);
  filter: brightness(1.1);
}

.social-medias svg {
  margin-left: 1rem;
}

.social-medias svg:hover {
  cursor: pointer;
  fill: #26baa4;
}

@media(max-width: 950px) {
  .logo {
    width: 75px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .download {
    top: 0;
    margin-bottom: 3rem;
  }

  .download>h1, .download>p {
    width: 80%;
    text-align: center;
  }

  .download div {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    margin-bottom: 1.5em;
  }

  .snippets {
    width: 80%;
  }

  .snippets>h2, .snippets>p {
    width: 100%;
    text-align: center;
    line-height: normal;
  }

  .sides {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sides>div:nth-child(1) {
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
  }

  .sides div:nth-child(1) img {
    width: 90%;
  }

  .right-side {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
  }

  .topics {
    padding: 0;
  }

  .topics>h3, .topics>p {
    text-align: center;
  }

  .topics>p {
    width: 100%;
    margin-bottom: 4rem;
  }

  .clipboard {
    width: 80%;
    display: flex;
    text-align: center;
    margin-bottom: 6rem;
    align-items: center;
    flex-direction: column;
  }

  .clipboard>h2 {
    width: 80%;
  }

  .clipboard>p {
    width: 70%;
  }

  .clipboard>img {
    width: 80%;
  }

  .workflow {
    width: 80%;
    text-align: center;
  }

  .workflow>p {
    width: 80%;
  }

  .tools-container {
    width: 80%;
    align-items: center;
    flex-direction: column;
  }

  .tool {
    width: 90%;
    margin-bottom: 2rem;
  }

  .brands-container {
    margin-bottom: 4rem;
    flex-direction: column;
  }

  .brands-container img {
    margin-bottom: 4rem;
  }

  footer {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-logo {
    margin: 2rem 0;
  }

  .options {
    gap: 1.5rem;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
  }

  .social-medias {
    gap: 1rem;
    display: flex;
    margin-bottom: 2rem;
  }
}