:root {
  /* Primary */
  --softRed: #fa5757;
  --softBlue: #5368df;

  /* Neutral */
  --grayish-Blue: #9194a1;
  --veryDarkBlue: #252b46;
  --grayish-SoftBlue: #f0f0f2;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html,
body {
  height: 100%;
  font-size: 18px;
}

.button {
  margin: 0;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  border: 3px solid transparent;
}

.button:hover {
  cursor: pointer;
}

.header {
  display: flex;
  height: 10rem;
  align-items: center;
  padding-inline: 10rem;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

nav button {
  border: 0;
  cursor: pointer;
  background: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--veryDarkBlue);
}

nav button:hover {
  color: var(--softRed);
}

.login {
  color: white;
  background: var(--softRed);
}

.login:hover {
  background: white;
  border-color: var(--softRed);
}

/* Section Start */
.start {
  display: flex;
  height: 500px;
  padding: 0 10rem;
  position: relative;
  margin-bottom: 5rem;
}

.left-side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side h1 {
  width: 75%;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--veryDarkBlue);
}

.left-side p {
  width: 65%;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  color: var(--grayish-Blue);
}

.chrome {
  color: white;
  font-weight: bold;
  margin-right: 1rem;
  background: var(--softBlue);
}

.chrome:hover {
  background: none;
  color: var(--softBlue);
  border-color: var(--softBlue);
}

.firefox {
  font-weight: bold;
  color: var(--veryDarkBlue);
  background: var(--grayish-SoftBlue);
}

.firefox:hover {
  background: none;
  color: var(--veryDarkBlue);
  border-color: var(--veryDarkBlue);
}

.right-side {
  width: 50%;
  height: 100%;
  position: relative;
}

.right-side img {
  /* left: 140px; */
  height: 500px;
  /* position: absolute; */
}

.rectangle {
  right: 0;
  bottom: 0;
  width: 38%;
  height: 340px;
  position: absolute;
  background: var(--softBlue);
  border-radius: 170px 0 0 170px;
}

/* Section Features  */

.features {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 5rem;
  flex-direction: column;
}

.features div:first-child {
  display: flex;
  text-align: center;
  margin-bottom: 3rem;
  align-items: center;
  flex-direction: column;
}

.features div h2 {
  margin-bottom: 2rem;
  color: var(--veryDarkBlue);
}

.features div:first-child p {
  color: var(--grayish-Blue);
}

.features .rectangle {
  left: 0;
  transform: rotate(180deg);
}

.tab {
  width: 50%;
  height: 60px;
  display: flex;
  margin-bottom: 4rem;
  justify-content: space-around;
}

.tab button {
  border: 0;
  width: 33.33%;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--grayish-Blue);
  background-color: transparent;
  border-bottom: 1px solid var(--grayish-Blue);
}

.tab button:hover {
  color: var(--softRed);
}

.tab button.active {
  color: var(--veryDarkBlue);
  border-bottom: 4px solid var(--softRed);
}

.tabContent {
  z-index: 2;
  display: none;
  padding: 0 20%;
  justify-content: space-between;
}

#simple-bookmarking {
  display: block;
}

.tabContent>img {
  width: 35%;
}

.tabContent>div {
  width: 35%;
}