/* Reset */

:root {
  /* Primary */
  --Pink: #ff52bf;
  /* Neutral */
  --Grayish-Blue: #808d99;
  --Very-Pale-Cyan: #ebfbff;
  --Very-Dark-Cyan: #00252e;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

/* Titles */

.title {
  color: var(--Very-Dark-Cyan);
  font-family: 'Poppins', sans-serif;
}

.buttons {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.buttons:hover {
  opacity: 0.7;
}

/* started */

.started {
  height: 100vh;
  margin-bottom: 7rem;
  background-size: contain;
  background-position: center;
  color: var(--Very-Dark-Cyan);
  background-repeat: no-repeat;
  background: var(--Very-Pale-Cyan);
  background-image: url(./images/bg-hero-desktop.svg);
}

/* Header */

.header {
  display: flex;
  align-items: center;
  padding: 3rem 3rem 1.5rem;
  justify-content: space-between;
}

.header img {
  height: 2rem;
}

.header button {
  width: 12rem;
  background: white;
  border-radius: 2rem;
  padding: 0.7rem 3rem;
  color: var(--Very-Dark-Cyan);
  box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.2);
}

/* Content */

.content {
  display: flex;
}

.content div:nth-child(1) {
  width: 50%;
  padding: 2rem;
}

.content div:nth-child(1) h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.content div:nth-child(1) p {
  width: 29rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn-get-stated {
  width: 16.5rem;
  color: white;
  border-radius: 2rem;
  padding: 1.2rem 3rem;
  background: var(--Pink);
}

.content div:nth-child(2) {
  width: 50%;
  padding: 1.5rem;
}

.content div:nth-child(2) img {
  width: 100%;
}

/* Cards */

.cards {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.cards .card:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

/* Card */

.card {
  width: 90%;
  display: grid;
  padding: 3rem 2rem;
  background: white;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  grid-template-columns: 60% 40%;
  box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.2);
}

.card>div:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card>div:nth-child(1) h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card>div:nth-child(1) p {
  color: var(--Grayish-Blue);
}

.card>div:nth-child(1) h3, .card>div:nth-child(1) p {
  width: 75%;
}

.card div:nth-child(2) img {
  width: 100%;
}

.cards .card:nth-child(4) {
  width: 50%;
  display: flex;
  bottom: -120px;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cards .card:nth-child(4) h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Footer */

footer {
  display: grid;
  padding: 9rem 0 3rem 0;
  justify-content: center;
  color: var(--Very-Pale-Cyan);
  background: var(--Very-Dark-Cyan);
  grid-template-columns: repeat(3, 30%);
}

footer>div:nth-child(1) svg {
  width: 60%;
  margin-bottom: 2rem;
}

footer>div:nth-child(1) svg path {
  fill: white;
}

footer>div>div {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
}

footer>div>div p {
  width: 350px;
  font-size: 0.9rem;
}

footer>div:nth-child(1)>div img {
  margin-right: 1rem;
  align-self: baseline;
}

footer>div:nth-child(2) {
  display: grid;
  column-gap: 5rem;
  align-self: center;
  justify-self: center;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(2, 1fr);
}

footer>div:nth-child(2) a {
  color: white;
  text-decoration: none;
}

footer>div:nth-child(2) a:hover {
  text-decoration: underline;
}

footer>div:nth-child(3) a {
  margin-right: 1rem;
  margin-top: 4.5rem;
}

footer>span {
  grid-column: 3/4;
  margin-top: 2rem;
  font-size: .7rem;
}

ion-icon {
  color: white;
  font-size: 1.2rem;
}

ion-icon:hover {
  color: var(--Pink);
}

@media(max-width: 375px) {
  * {
    font-size: 14px;
  }
  .started {
    height: auto;
  }
  .header {
    padding: 2.5rem 2rem;
  }
  .header img {
    height: 1.2rem;
  }
  .header button {
    width: 6.5rem;
    font-size: 0.7rem;
    border-radius: 2rem;
    padding: 0.6rem 0rem;
  }
  .content {
    align-items: center;
    flex-direction: column;
  }
  .content div:nth-child(1) {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content div:nth-child(1) h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .content div:nth-child(1) p {
    width: 82%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .content div:nth-child(1) button {
    margin: 0 auto;
  }
  .content div:nth-child(2) {
    width: 90%;
  }
}